body{
	background: #eaeaea; 
	font-family:'Montserrat', Arial;	
}

h1{
	font-size: 200%;
	text-align: center;	
}

a, figcaption{
	text-decoration: none;
	font-size: smaller;
	color: #999;
}



p a {
	color: #07e;
	font-size: 100%;
}


img {
	width: 100%;
	height: auto;
}

p{	
	margin: 0;
	padding-bottom: 1em;
	
}


header{
	width: 75%;
	margin: 0 auto;
}

figure{
	margin: 0;
}

ul.timeline {
	position: relative;
	width: 75%;
	margin: 0 auto;
	padding: 1em 0;
	list-style-type: none;	
}

li.date{
	width: 75%;
	margin-left: 13.5%;
	position: relative;
}


/* span that holds the text of the day of the week*/
.datetime{
	left: -3%;
	position: absolute;
	top: -3px;
	text-align: left;
	z-index: 10000;
	font-weight: bolder;

}

/* circles*/
ul.event:before,
li.lastItem ul.event:after{
	position: absolute; 
	border: #f03011 4px solid;
	display: block;
	width: 10px; /* w/h of viewport may change - so use pixels not relative*/
	height: 10px;
	border-radius: 10px; 
	left: -10px;
	content: ' ';
	background: white;
	z-index: 1000;

}

ul.event{
	list-style-type: none;
	width: 70%;
	padding-left: 2%;
	padding-bottom: 2%;
	margin-left: 7%;
	position: relative;
	border-left: 4px solid #f03011;
}

ul.event li {
    background: white;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-color: #eee #ddd #bbb;
}



/* media queries */
@media (max-width: 1000px) {
	
	ul.event{
		width: 100%;
		margin-left: 0;
		padding-left: 5%;
		padding-top: 10%;
		
	}
	.datetime{
		left: 5%;
		top: 0;
	}
	
	ul.event{
		padding-top: 7%;
	}
	
	ul.event:before{
		top: 0;
	}
	
	ul.event li{
		margin-top: 0.5em;
	}
	
	blockquote{
		margin: 0;
	}
}


@media (max-width: 400px) {
	.datetime{
		left: 10%;
		top: 0;
	}
	
	li.date{
		margin-left: 5%;
		width: 90%;
	}
	
	ul.event li{
		margin-left: 4%;
		margin-top: 10%;
	}
	
	ul.event li.tweet p{
		margin-top: 0;
		margin-bottom: 1em;
		
	}
	
	img{
		width: 100%	
	}
	
	p{
		font-size: 90%;
	}
}
